<div class="footer" style="margin-top:720px">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <p class="footer-brand">Qatar Auto World</p>
      <p>With Qatar Auto World - Buy spare parts for your vehicle</br>or car breakdown service with ease
    </div>
    <div class="col-md-4 col-xs-6">
      <p>Terms of agreement</p>
      <p>Registered Trademarks</p>
      <p>How it works</p>
    </div>
  </div>
</div>
<div class="copyright_para text-center">
  <p>Copyright © 2017 - QatarAutoWorld </p>
</div>
