<div class="container-fluid home_container">
	<div class="text-center">
	<div class="weekend_font">
		<strong><h3> Just for the weekend </h3></strong>
		<p>Discover new, inspiring places close to home.</p>
		</div>
	</div> <br>

	<div class="row">
		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=naltar+valley" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/naltar_valley.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Naltar valley </h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=neelum+valley" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/neelum_valley.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Neelum Valley, Azad Kashmir </h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=shangrila+resort" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/shangrila_resort.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Shangrila resort, Skardu</h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>	
		<hr align="center" width="75%">

		<div class="text-center">
			<div class="weekend_font">
				<strong><h3>Explore Beauty</h3></strong>
				<p>See where people are traveling, all around over Pakistan</p>
            </div>
	   </div> 
	   <br>

	   <div class="row">
		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=gojal+valley" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/gojal_valley.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Gojal Valley </h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=rama+meadow" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/naltar_valley2.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Rama Meadow</h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="col-md-4">
			<a href="http://www.qayaam.com/search?utf8=%E2%9C%93&search=ayun+valley" style="color: transparent;">
				<div class="discovery" style="background-image: url('/assets/ayun_valley2.jpg')">
					<div class="va-container">
						<div class="va-middle text-center">
								<strong><h3>Ayun and Bamburet Valley</h3></strong>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<hr align="center" width="75%">

	   <div class="text-center">
			<div class="weekend_font">
				<strong><h3>Unique tourist places!</h3></strong>
				<p>Local hosts all across Pakistan</p>
            </div>
	   </div> 
	   <br>

</div>	
