<div style="margin-top:-50px">
  <div class="col-md-6 spare-parts text-center" style="background:rgba(224, 0, 7, 0.68);height:700px">
    <h1 class="text-center" style="color:white;margin-top:200px">Buy Spare Parts for Every Vehicle</h1>
    <button class="btn btn-primary round_button_red large-font" style="background:grey;margin-top:80px;font-weight:bold">VIEW STORE</button>
  </div>

  <div class="col-md-6 car-breakdown text-center" style="background:rgba(128, 128, 128, 0.79);height:700px">
    <h1 class="text-center" style="color:white;margin-top:200px">Book Car Breakdown Service with Ease</h1>
    <button class="btn btn-primary round_button_red large-font" style="margin-top:80px;font-weight:bold"><%= link_to "BOOK SERVICE", new_breakdown_path %></button>
  </div>
</div>

