<div style="margin-top:-50px">
  <div class="col-md-6 car-breakdown text-center">
    <h1 class="text-center cb-heading">Book Car Breakdown Service with Ease</h1>
    <button class="btn btn-primary round_button_red large-font" style="background:grey;margin-top:80px;font-weight:bold"><%= link_to "BOOK SERVICE", new_breakdown_path, style: "color:white;text-decoration:none" %></button>
  </div>

  <div class="col-md-6 spare-parts text-center">
    <h1 class="text-center sp-heading">Buy Spare Parts for Every Vehicle</h1>
    <button class="btn btn-primary round_button_red large-font" style="background:rgba(16, 32, 90, 0.98);margin-top:80px;font-weight:bold">VIEW STORE</button>
  </div>

</div>

