<div class="container">
	<div class="row space-maker-hiw">
		<%= render partial: "pages/host_dashboard_sidebar" %>
		<div class="panel-body">
			<div class="row col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						Your Earning
					</div>
					<div class="panel-body">
						<div class="form-group">
							<input type="text" id="daterange" class="form-control"/>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>