<div class="container">
  <div class="panel-body how-it-works-bg">
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag image_path('air1.png') %><br>
        <h4>Discover Amazing Places</h4>      
        <p>Find hosts with extra rooms, entire homes, and unique accommodations.</p>
      </div>
      
      <div class="col-md-4 hiw">
        <%= image_tag image_path('air2.png') %><br>
        <h4>Book a Stay</h4>
        <p>Connect with hosts, confirm travel dates, and pay—all through Qayaam’s trusted services</p>
      </div>
      
      <div class="col-md-4 hiw">
        <%= image_tag image_path('air3.png') %><br>
        <h4>Travel where you want</h4>
        <p>Once you know where you’re traveling and whose space you'll be staying in, all you have to do is get going!</p>
      </div>
    </div>
  </div>

  <hr>
</div>
