<div class="container">
  <div class="row" style="margin-bottom:50px">
    <div class="col-md-12">
      <h1 class="qayaam-partners-h1">Qayaam has partnered with</h1>
      <div class="col-space-panel partners-div">
        <div class="panel panel-default col-sm-3">
  	  <%= link_to (image_tag "dunya.png", class: "dunya"), "http://dunyafoundation.org.pk/", target: "_blank" %>
        </div>
	<div class="panel panel-default col-sm-3 akhuwat-div">
  	  <%= link_to (image_tag "akhuwat.png", class: "akhuwat"), "http://www.akhuwat.org.pk/", target: "_blank" %>
        </div>
	<div class="panel panel-default col-sm-3 shelter-div">
	  <a href="http://www.shelterlistings.org" title="Find Shelter And Housing" target="_blank"><img src="http://www.shelterlistings.org/images/partner_logo.png"  border="0" class="shelter" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
