<h3>Welcome <%= @resource.fullname %>!</h3>

<p>Please click on the link below to activate your Qayaam account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks, The Qayaam Team </p>
